<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>레이스!</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-lotto {
      max-width: 1000px;
      padding: 15px;
      margin: 0 auto;
    }

    .submit-button {
      margin-top: 10px;
    }
  </style>

</head>
<body>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h2 class="text-center">레이싱 게임 시작 설정 확인 및 시작</h2>
      <table>
        <tr th:each="racer : ${racerList}">
          <td th:text="${racer}">...</td>
        </tr>
      </table>
      <form class="form-lotto" method="get" action="/race">
        <div class="submit-button">
          <button class="btn btn-lg btn-primary btn-block" type="submit">게임 시작!</button>
        </div>
      </form>
    </div>

  </div>
</div>

</body>
</html>